### build outputs ###
/uploads/
/recordings/
/var/azure/uploads/
HELP.md
target/
build/
out/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IDE ###
.idea/
.vscode/
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr



### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
!**/src/main/**/build/
!**/src/test/**/build/

### Spring/Secrets ###
# .env 류
.env
*.env
*.env.*
### VS Code ###
.vscode/
﻿.env

# keystore 등
application.properties
application.yml
*.p12
*.keystore

.vscode/
.idea/
